extends ../layout

include ../mixins/error

block content 
	.Layout.mSimple
		div
			h1 Log In
			p If haven't created an account, #[a(href="/register") register].

		form(method="post").Flexbox.mCol.mStdSpacing 
			div
				label(for="UsernameField") #[b Username] #[+Error(errors, "username")]
				input#UsernameField(type="text", name="username")

			div
				label(for="PasswordField") #[b Password] #[+Error(errors, "password")]
				input#PasswordField(type="password", name="password")

			button(type="submit").iAlignRight Log In