extends ../layout

include ../mixins/error

block content 
	div
		h1 Log In
		p.tGray If haven't already created an account, #[a(href="/register") register].

	form(method="post").Flexbox.mCol.mCmpSpacing 
		div
			label(for="UsernameField") #[b Username] #[+Error(errors, "username")]
			input#UsernameField(type="text", name="username")

		div
			label(for="PasswordField") #[b Password] #[+Error(errors, "password")]
			input#PasswordField(type="password", name="password")

		button(type="submit").iAlignRight Log In