extends layout 

block content 
	.Layout.mSimple
		div
			h1 Apricity 
			p Welcome to Apricity
			p.tSmall This is Aarush Kumbhakern's website - that's me. There's not much going on here at the moment; the primary purpose is to have somewhere to put my writings. I'll probably add more areas in while. Until then, go ham with the #[a(href="/notes") notes].