html(lang="en") 
	head 
		meta(charset="utf-8")
		meta(lang="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		meta(name="theme-color" content="#030303")
		
		title!= title
		meta(name="author" content="Aarush Kumbhakern")
		meta(name="description", content="Aarush Kumbhakern's personal website")

		block stylesheets 
			link(rel="stylesheet" href="/stylesheets/reset.css")
			link(rel="stylesheet" href="/stylesheets/inter.css")
			link(rel="stylesheet" href="/stylesheets/main.css")
			link(rel="stylesheet" href="/stylesheets/layout.css")
			link(rel="stylesheet" href="/stylesheets/forms.css")

		block scripts

	body 
		#TopBar.Flexbox.mSpaceBtwn.mCmpSpacing
			p#Fluff #[b Apricity] #[small [uh-pri-city]] #[i n.] #[small The warmth of the winter sun.]
			
			fieldset#Navigation.iAlignTop
				legend Navigation
				nav: p(align="right")
					| #[a(href="/") Home]&nbsp;  
					| #[a(href="/notes") Notes]

		#Content: block content

		footer#Footer.Flexbox.mSpaceBtwn.mCmpSpacing.mVertEnd
			if user
				form(action=`/logout?next=${url}` method="post"): button(type="submit") Log Out
			else
				fieldset 
					legend Auth
					p
						| #[a(href=`/login?next=${url}`) Log&nbsp;In]&nbsp; 
						| #[a(href=`/register?next=${url}`) Register]

			p(align="right")#Blurb
				| Aarush Kumbhakern's #[b Apricity]. #[br]
				| #[span.tSmall Do what you will with it.]