.Flexbox { display: flex; }
.Flexbox.mCol { flex-direction: column; }

.Flexbox.mWrap { flex-wrap: wrap; }
.Flexbox.mWrapRev { flex-wrap: wrap-reverse; }

.Flexbox.mSpaceBtwn { justify-content: space-between; }
.Flexbox.mStdSpacing { grid-gap: var(--std-spacing) }
.Flexbox.mCmpSpacing { grid-gap: var(--cmp-spacing) }
.Flexbox.mMinSpacing { grid-gap: var(--min-spacing) }

.Flexbox.mHorzCenter { justify-content: center; }

.Flexbox.mVertCenter { align-items: center; }
.Flexbox.mVertEnd { align-items: flex-end; }

.Flexbox > .iAlignTop { align-self: flex-start; }
.Flexbox > .iAlignBtm { align-self: flex-end; }
.Flexbox > .iAlignRight { margin-left: auto; }
.Flexbox.mCol > .iAlignLeft { align-self: flex-start; }
.Flexbox.mCol > .iAlignRight { align-self: flex-end; }