label { display: block; }

input[type="text"], 
input[type="password"], 
textarea {
	min-width: 0;
	max-width: 100%;
	font-size: 0.97em;
	border: 1px dotted;
	border-radius: 0.2em;
}
label + :is(input[type="text"], input[type="password"], textarea) { margin-top: 0.5em; }

input[type="text"], 
input[type="password"] {
	width: 20em;
	padding: 0.5em 0.7em;
}

textarea {
	width: 100%;
	resize: none;
	padding: 1em;
	line-height: 1.5em;
}

button, .Button {
	--btn-color: var(--green);
	display: block;
	cursor: pointer;
	color: var(--bg);
	line-height: 1em;
	font-weight: 500;
	padding: 0.7em 1em;
	white-space: nowrap;
	border-radius: 0.2em;
	text-decoration: none;
	border: 1px dotted #00000055;
	background-color: var(--btn-color);
}
:is(button, .Button).mDanger { --btn-color: var(--red); }
:is(button, .Button).mLowPro {
	color: var(--btn-color);
	font-size: 0.85em;
	border: 1px dotted;
	padding: 0.3em 0.5em;
	background-color: transparent;
}