label { display: block; }

input[type="text"], 
input[type="password"], 
textarea {
	min-width: 0;
	max-width: 100%;
	font-size: 0.97em;
	border: 1px dotted;
	border-radius: 0.2em;
}
label + :is(input[type="text"], input[type="password"], textarea) { margin-top: 0.5em; }

input[type="text"], 
input[type="password"] {
	width: 20em;
	padding: 0.5em 0.7em;
}

textarea {
	width: 100%;
	resize: none;
	padding: 1em;
	line-height: 1.5em;
}

button {
	cursor: pointer;
	color: var(--bg);
	line-height: 1em;
	font-weight: 500;
	padding: 0.7em 1em;
	border-radius: 0.2em;
	background-color: var(--fg);
}
button[type="submit"] { background-color: var(--green); }
button.mDanger { background-color: var(--red); }