:root {
	--gray: #757575;
	--blue: #416788;
	--green: #57886C;
	--red: #E85F5C;

	--fg: #030303;
	--bg: #dbdbd6;

	--std-spacing: 3rem;
	--cmp-spacing: 2rem;
	--min-spacing: 0.6rem;
}

:focus { 
	outline-offset: 0.2rem;
	border-radius: 0.01rem;
	outline: 1px dashed var(--blue); 
}

* { box-sizing: border-box; }

html { scroll-padding-top: 1em; }

body { 
	color: var(--fg);
	background-color: var(--bg);
}

::selection {
	color: var(--bg);
	background-color: var(--blue);
}

a { 
	color: inherit; 
	text-decoration-style: dotted;
	text-underline-offset: 0.15em;
}

h1, h2, h3, h4 { 
	overflow: hidden; 
	font-weight: 400; 
	text-overflow: ellipsis;
}
:is(h1, h2, h3, h4, p, ul, li) + :is(h1, h2, h3, h4) { margin-top: 1.2em; }

h1 { font-size: 3em; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.3em; }

ul, ol, p { line-height: 1.5em; }

:is(h1, h2, h3, h4, p, ul, li) + :is(p, ul, ol) { margin-top: 1em; }

b, strong { font-weight: 500; }

.tGray { color: var(--gray); }
.tRed { color: var(--red); }

.tBig { font-size: 1.3em; }
.tSmall { font-size: 0.85em; }

article { max-width: 70ch; }

.uTruncateLines {
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--lines);
}

.uBalanceText { text-wrap: balance; }

marquee {
	background-image: repeating-linear-gradient(45deg, #00000015 0, #00000015 1px, transparent 0, transparent 50%);
	background-size: 9px 9px;

}
marquee > * {
	padding: 0 0.5ch;
	background-color: var(--bg);
}

.Divider {
	width: 100%;
	position: relative;
	border-top: 1px dotted;
}
.Divider::after {
	left: 50%;
	width: 3em;
	content: "";
	padding: 0.5em;
	position: absolute;
	background-size: contain;
	background-color: var(--bg);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/diamonds.svg");
	transform: translate(-50%, -50%);
}

.Box {
	border: 1px dotted;
	border-radius: 0.2em;
	display: inline-block;
	padding: var(--min-spacing);
	background-color: var(--bg);
}
.Box.mRoomy { padding: 1em; }

.Box > .label {
	font-weight: 500;
	font-size: 0.85em;
	margin-bottom: 1rem;
}