extends ../layout

append stylesheets 
	link(rel="stylesheet" href="/stylesheets/forms.css")

block content 
	div 
		h1 Delete 
		p.tGray Are you sure you want to delete "!{note.title}"?

	form(method="post").Flexbox.mVertCenter.mMinSpacing
		input(type="text", required, pattern!=note.title, placeholder="Type note title to confirm...", data-for="DeleteSubmit").jPatternInput
		button#DeleteSubmit(type="submit").jPatternMatchRequired.mDanger Delete