extends ../layout

append stylesheets 
	link(rel="stylesheet" href="/stylesheets/forms.css")

block content 
	div 
		h1 Delete 
		p.tGray Are you sure you want to delete "!{note.title}"?

	form(method="post").Flexbox.mVertCenter.mCmpSpacing 
		a(href=`/notes/${note.slug}`) Go Back
		button(type="submit").mDanger Delete