extends ../layout

include ../mixins/error

append scripts
	script(type="text/javascript", src="/javascripts/autosize.min.js", defer)
	script(type="text/javascript", src="/javascripts/forms.js", defer)

block controlvars 
	- var jumpers = true;

block jumpers 
	a(href="#title") Title
	a(href="#content") Content
	a(href="#submit") Submit

block content 
	div
		h1 Editor 
		p #{action == "Create" ? "Create new note" : `Editing "${formData && formData.title}"`}

	form#Editor(method="post").Flexbox.mCol.mCmpSpacing
		div#title
			label(for="TitleField") #[b Title] #[+Error(errors, "title")]
			input#TitleField(type="text" name="title" autocomplete="off" required autofocus value=formData && formData.title)

		div#content
			label(for="ContentField") #[b Content] #[+Error(errors, "content")]
			textarea#ContentField(name="content" rows="10" resize="false" required)!= formData && formData.content

		button(type="submit")#submit.iAlignRight= action
			