extends ../layout
include ../mixins/pagination

append stylesheets 
	link(rel="stylesheet" href="/stylesheets/notes/index.css")

block controlvars 
	- var actions = true;

block actions 
	a(href="/notes/create") Create


block content 
	div
		h1 Notes 
		p.tGray A collection of my prose (naturally paginated, ie. you'll find the oldest post is on the first page and not the last, and so on).

	#Pagination: .links: +Pagination(page, pageCount, 7)

	#NotePreviews.Flexbox.mCol.mCmpSpacing
		if notes.length 
			for note in notes 
				.NotePreview
					- const date = new Date(note.published)
					- const dateOptions = { year: "numeric", month: "long", day: "numeric" }
					
					p #[b: a(href=`/notes/${note.slug}`)!= note.title] &nbsp; #[span.date.tSmall.tGray #{date.toLocaleString("en-gb", dateOptions)}]
					p.uTruncateLines(style="--lines: 3")!= note.renderPreview()
		
		else 
			p.tGray Nothing to see here yet...

