#Pagination {
	height: 0.3em;
	text-align: center;
	border-top: 1px dotted;
	background-color: var(--bg);
}

#Pagination > .links {
	padding: 0 1em;
	display: inline-block;
	background-color: var(--bg);
	transform: translateY(-1em);
}