.NotePreview { 
	width: 300px; 
	flex: 1 0 auto;
}
@media only screen and (max-width: 900px) {.NotePreview { flex-shrink: 1; }}

.NotePreview > .content {
	margin-top: 1em;
	border-left: 4px solid;
	padding: 1em 1em 1em 1.5em;
}